/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
/* Dimensions */
/* Colors */
/* Borders */
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* General */
body {
  font: 400 100% "PT Sans", Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding-top: 101px; }

/* Header */
header[role="banner"] {
  font-size: 0.875em;
  /* 14px / 16px */
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e5e5e5; }

#header-wrapper {
  max-width: 1100px;
  margin: 0 auto; }

h1 a {
  width: 50px;
  height: 100px;
  float: left;
  text-indent: -9999em;
  background: url(../img/temp-logo.png) left center no-repeat;
  background-size: 50px; }

/* Navigation */
nav {
  float: left; }
  nav .main-nav {
    margin-left: 50px;
    height: 50px;
    margin-top: 25px; }
    nav .main-nav .main-nav-item {
      display: inline-block;
      font-weight: 600;
      position: relative;
      line-height: 50px; }
      nav .main-nav .main-nav-item .main-nav-item-link {
        text-decoration: none;
        color: #6c6c6c;
        padding: 10px 15px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      nav .main-nav .main-nav-item:hover .dropdown {
        display: block; }
      nav .main-nav .main-nav-item:hover .main-nav-item-link {
        color: #fff;
        background-color: #594491; }

/* Sub navigation */
.dropdown {
  padding-top: 5px;
  display: none; }

.dropdown-list {
  height: auto;
  position: absolute;
  left: 50%;
  width: 200px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transform: translateX(-50%); }
  .dropdown-list li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    line-height: normal; }
    .dropdown-list li a {
      display: block;
      padding: 10px 15px;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      color: #6c6c6c; }
      .dropdown-list li a:hover {
        background-color: #fafafa; }

.dropdown-list:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  left: 93px; }

.dropdown-list:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: #e5e5e5 transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -9px;
  left: 93px; }

/* Employees section */
#application-wrapper {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.875em;
  /* 14px / 16px */ }
  #application-wrapper #application {
    max-width: 1100px;
    margin: 0 auto; }
    #application-wrapper #application a, #application-wrapper #application a:link, #application-wrapper #application a:visited, #application-wrapper #application a:focus {
      color: #594491;
      text-decoration: none;
      border-bottom: 1px solid #e5e5e5; }
    #application-wrapper #application a:hover, #application-wrapper #application a:active {
      border-bottom-color: #594491; }
  #application-wrapper header {
    height: 50px;
    line-height: 50px; }

h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 2em;
  /* 28px / 14px*/
  text-transform: uppercase;
  float: left; }

#breadcrumb {
  float: right; }
  #breadcrumb li {
    display: inline-block; }
    #breadcrumb li::after {
      content: '\00a0/\00a0'; }
    #breadcrumb li.last::after {
      content: ''; }

/*# sourceMappingURL=main.css.map */
