// Variables

/* Fonts */
$font-family: 'PT Sans', Helvetica, Arial, sans-serif;

/* Colors */

$color-main: #6c6c6c;
$color-accent: #594491;
$color-border: #e5e5e5;

/* Borders */

$border-radius: 3px;

