// Import other files

@import 'base/base';
@import 'vendor/base';
@import 'utilities/base';
@import 'components/base';
@import 'pages/employees';

// Clearfix

.clearfix {
    @include clearfix();
}

// General

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 400 100% $font-main;
    color: $color-main;
    background-color: $color-background;
    padding-top: 81px; /* height header */
    margin-bottom: 81px; /* height footer */
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    border: 0;
}

// Header

header[role="banner"] {
    z-index: 100;
    font-size: 0.875em; /* 14px / 16px */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-border;
    background-color: $color-background-header;
    
    #{$a-tags} {
        color: $color-main;
        font-weight: 600;
        text-decoration: none;
    }
    
    #{$a-tags} {
        color: $color-main;
    }
}

#header-inner {
    height: 40px;
    max-width: $width-main;
    margin: 0 auto;
    padding: 20px;
}

h1 a {
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    text-indent: -9999em;
    background: url(../img/temp-logo.png) center center no-repeat;
    background-size: 40px;
    @include rounded($border-radius);
}

// Navigation

nav {
    float: left;
}
    
.main-nav {
    margin: 0 40px;
    height: 40px;
}
        
.main-nav-item {
    display: inline-block;
    font-weight: 600;
    position: relative;
    
    &:hover .dropdown {
        display: block;
    }
            
    &:hover .main-nav-item-link {
        color: $color-background-header;
        background-color: $color-brand;
    }
}
            
.main-nav-item-link {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    @include rounded($border-radius);
}

.dropdown-main-nav {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    
    &:before {
        left: 93px;
    }
    
    &:after {
        left: 93px;
    }
}

// Dropdown lists

.dropdown {
    padding-top: 20px;
    display: none;
}

.dropdown-wrapper {
    box-sizing: border-box;
    background-color: $color-background-header;
    border: 1px solid $color-border;
    z-index: 100;
    margin: 0;
    position: absolute;
    @include rounded($border-radius);
    
    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: $color-background-header transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -8px;
    }
    
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: $color-border transparent;
        display: block;
        width: 0;
        z-index: 0;
        top: -9px;
    }
}

.dropdown-wrapper li {
    display: block;
    border-bottom: 1px solid $color-border;
    width: 100%;
    line-height: normal;
}

.dropdown-nav li a {
    display: block;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;

    span {
        padding-right: 10px;
    }

    &:hover {
        background-color: $color-brand;
        color: #fff;
    }
}

// Search

div[role="search"] {
    float: left;
    position: relative;
}

#global-search {
    position: relative;
    
    input {
        border: 1px solid $color-border;
        @include rounded($border-radius);
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 38px;
        color: $color-main;

        &:focus {
            outline: 0;
        }
    }
    
    button {
        color: $color-main;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        background: transparent;
        padding: 0 10px;
        cursor: pointer;
    }
}

.dropdown-search {
    width: 300px;
    
    &:before {
        left: 12px;
    }
    
    &:after {
        left: 12px;
    }
}

.dropdown-search-list a {
    display: block;
    padding: 10px;
}

.dropdown-search-list-name {
   display: block; 
}

.dropdown-search-list-department {
    font-weight: 300;
}

.dropdown-search-list-img {
    float: left;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid $color-border;
    margin-right: 10px;
    @include rounded(50%);
}

// Notifications, messages and profile icon

.username {
    float: right;
    margin-right: 15px;
    line-height: 40px;
    color: lighten($color-main, 20%);
}

.user-nav {
    float: right;
    position: relative;
}

.user-nav-link {
    box-sizing: border-box;
    @include rounded(50%);
}

.user-icon {
    margin-right: 10px;
    padding-right: 5px;
    
    a.user-nav-link {
        font-size: 1.0714285714285714285714285714286em; /* 15px / 14px */
        display: block;
        line-height: 34px;
        text-align: center;
        height: 34px;
        width: 34px;
        margin: 3px 0;
        background-color: $color-border;
    }
}

.user-icon-number {
    font-size: 0.78571428571428571428571428571429em; /* 11px / 14px */
    position: absolute;
    top: 0;
    right: 0;
    color: $color-background-header;
    height: 17px;
    line-height: 17px;
    padding: 0 4px;
    background-color: $color-brand;
    @include rounded($border-radius);
}

.user-profile a {
    display: block;
    height: 40px;
    width: 40px;
}
    
.user-profile img {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid $color-border;
    @include rounded(50%);
}

.dropdown-profile {
    width: 200px;
    right: 0;
    
    &:before {
        left: 174px;
    }
    
    &:after {
        left: 174px;
    }
}

.dropdown-messages {
    width: 400px;
    right: 0;
    
    &:before {
        left: 374px;
    }
    
    &:after {
        left: 374px;
    }
}

.dropdown-message-link {
    display: block;
    padding: 10px;
}

.dropdown-message-avatar {
    float: left;
    margin-right: 10px;

    img {
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border: 1px solid $color-border;
        @include rounded(50%);
    }
}

.dropdown-message-content {
    font-size: 0.92857142857142857142857142857143em; /* 13px / 14px */
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Application section

#application {
    width: 100%;
    font-size: 0.875em; /* 14px / 16px */ 
    
    #application-header {
        max-width: $width-main;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
    
    #{$a-tags} {
        color: $color-link;
        text-decoration: none;
        border-bottom: 1px solid $color-border;
    }

    #{$a-tags-hover} {
        border-bottom-color: $color-link;
    }
    
    h2 {
        float: left;
        font-family: $font-application-title;
        color: $color-title;
        font-size: 1.7142857142857142857142857142857em; /* 24px / 14px*/
        text-transform: uppercase;

        #{$a-tags} {
            color: $color-title;
            border-bottom: 0;
        }
    }
}

#breadcrumb {
    float:right;
    
    li {
        display: inline-block;
        
        &::after {
            content: '\00a0/\00a0';
        }
        
        &.last::after {
            content: '';
        }
    }
}

// Application navigation

#application-navigation {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: $color-background-application-header;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;

    ul {
        text-align: center;
        padding: 0 20px;
        
         li {
            display: inline-block;
            margin-right: 30px;
        }
    }
}

// Application content

#content-inner {
    box-sizing: border-box;
    max-width: $width-main;
    margin: 0 auto;
    padding: 40px 20px;
}

// General application styles

#application #content-inner .application-button {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $color-background-header;
    background-color: $color-link;
    @include rounded($border-radius);
    border: 0;
    
    &:hover {
        border: 0;
    }
    
    &:active {
        top: 1px;
    }
}

// Footer

footer {
    height: 81px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: $color-background-header;
    border-top: 1px solid $color-border;
    font-size: 0.875em; /* 14px / 16px */
    line-height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    
    p {
        padding: 0 20px;
    }
}