// Vendors
@import 'vendor/font-awesome';

// Base
@import 'base/reset';
@import 'base/config';

// Utilities
@import 'utilities/mixins';
@import 'utilities/utilities';

// Components
@import 'components/logos';
@import 'components/headings';
@import 'components/dropdowns';
@import 'components/textboxes';
@import 'components/searchboxes';
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/selectboxes';


// Layout
@import 'layout/main';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/application-header';
@import 'layout/application-content';
@import 'layout/footer';

// Pages
//@import 'pages/employees';