// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';
@import 'font-awesome';

/* clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* General */

body {
    font: 400 100% $font-main;
    background-color: #fff;
    padding-top: 101px;
}

/* Header */

header[role="banner"] {
    font-size: 0.875em; /* 14px / 16px */
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-border;
}

#header-wrapper {
    max-width: $width-main;
    margin: 0 auto;
}

h1 a {
    width: 50px;
    height: 100px;
    float: left;
    text-indent: -9999em;
    background: url(../img/temp-logo.png) left center no-repeat;
    background-size: 50px;
}

/* Navigation */

nav {
    float: left;
    
    .main-nav {
        margin-left: 50px;
        height: 50px;
        margin-top: 25px;
        
        .main-nav-item {
            display: inline-block;
            font-weight: 600;
            position: relative;
            line-height: 50px;
            
            .main-nav-item-link {
                text-decoration: none;
                color: $color-main;
                padding: 10px 15px;
                @include rounded($border-radius);
            }
            
            &:hover .dropdown {
                display: block;
            }
            
            &:hover .main-nav-item-link {
                color: #fff;
                background-color: $color-accent;
            }
        }
    } 
}

/* Sub navigation */

.dropdown {
    padding-top: 5px;
    display: none;
}

.dropdown-list {
    height: auto;
    position: absolute;
    left: 50%;
    width: 200px;
    margin: 0;
    background-color: #fff;
    border: 1px solid $color-border;
    z-index: 1;
    @include rounded($border-radius);
    transform: translateX(-50%);
    
    li {
        display: block;
        border-bottom: 1px solid $color-border;
        width: 100%;
        line-height: normal;
        
        
        a {
            display: block;
            padding: 10px 15px;
            width: 100%;
            box-sizing: border-box;
            text-decoration: none;
            color: $color-main;
            
            span {
                padding-right: 10px;
            }
            
            &:hover {
                background-color: #fafafa;
            }
        }
    }
    
}

.dropdown-list:after {
   content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 7px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    left: 93px;
}

.dropdown-list:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 7px 8px;
    border-color: $color-border transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -9px;
    left: 93px;
}


/* Employees section */

#application-wrapper {
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid $color-border;
    font-size: 0.875em; /* 14px / 16px */ 
    
    #application {
        max-width: $width-main;
        margin: 0 auto;
        
        #{$a-tags} {
            color: $color-accent;
            text-decoration: none;
            border-bottom: 1px solid $color-border;
        }
        
        #{$a-tags-hover} {
            border-bottom-color: $color-accent;
        }
    }
    
    header {
        height: 50px;
        line-height: 50px;
    }
}

h2 {
    font-family: $font-uppercase;
    font-size: 2em; /* 28px / 14px*/
    text-transform: uppercase;
    float:left;
}

#breadcrumb {
    float:right;
    
    li {
        display: inline-block;
        
        &::after {
            content: '\00a0/\00a0';
        }
        
        &.last::after {
            content: '';
        }
    }
}