// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';
@import 'font-awesome';

/* Clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* General */

body {
    font: 400 100% $font-main;
    color: $color-main;
    background-color: #fff;
    padding-top: 81px; /* height header */
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    border: 0;
}

/* Header */

header[role="banner"] {
    font-size: 0.875em; /* 14px / 16px */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-border;
    background-color: #fff;
    
    #{$a-tags} {
        color: $color-main;
        font-weight: 600;
        text-decoration: none;
    }
    
    #{$a-tags} {
        color: $color-main;
    }
}

#header-inner {
    height: 40px;
    max-width: $width-main;
    margin: 0 auto;
    padding: 20px;
}

h1 a {
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    text-indent: -9999em;
    background: url(../img/temp-logo.png) center center no-repeat;
    background-size: 40px;
    @include rounded($border-radius);
}

/* Navigation */

nav {
    float: left;
    
    .main-nav {
        margin: 0 40px;
        height: 40px;
        
        .main-nav-item {
            display: inline-block;
            font-weight: 600;
            position: relative;
            
            .main-nav-item-link {
                display: block;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                @include rounded($border-radius);
            }
            
            &:hover .dropdown {
                display: block;
            }
            
            &:hover .main-nav-item-link {
                color: #fff;
                background-color: $color-brand;
            }
        }
    } 
}

/* Sub navigation */

.dropdown {
    padding-top: 15px;
    display: none;
}

.dropdown-list {
    @include speech-bubble(200px, auto, #fff);
    
    li {
        display: block;
        border-bottom: 1px solid $color-border;
        width: 100%;
        line-height: normal;
        
        
        a {
            display: block;
            padding: 0 15px;
            height: 40px;
            line-height: 40px;
            width: 100%;
            box-sizing: border-box;
            text-decoration: none;
            
            span {
                padding-right: 10px;
            }
            
            &:hover {
                background-color: #fafafa;
            }
        }
    }
}

.dropdown-center {
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-center:after {
    left: 93px;
}

.dropdown-center:before {
    left: 93px;
}

.dropdown-right {
    right: 0;
}

.dropdown-right:after {
    left: 174px;
}

.dropdown-right:before {
    left: 174px;
}

/* Search */

div[role="search"] {
    float: left;
}

#global-search {
    position: relative;
    
    input {
        border: 1px solid $color-border;
        @include rounded($border-radius);
        box-sizing: border-box;
        width: 250px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 38px;

        &:focus {
            outline: 0;
        }
    }
    
    button {
        color: $color-main;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        background: transparent;
        padding: 0 10px;
        cursor: pointer;
    }
}

/* Notifications, messages and profile icon */

.user-nav {
    float: right;
    height: 40px;
    position: relative;
}

.user-icon {
    width: 40px;
    margin-right: 10px;
    padding-right: 5px;
    
    a {
        font-size: 1.0714285714285714285714285714286em; /* 15px / 14px */
        display: block;
        line-height: 38px; /* 40px - 2px (border) */
        text-align: center; 
        
        &:hover {
            background-color: #fafafa;
        }
    }
}

.user-nav-link {
    box-sizing: border-box;
    border: 1px solid $color-border;
    @include rounded(50%);
}

.user-icon-number {
    font-size: 0.78571428571428571428571428571429em; /* 11px / 14px */
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    height: 17px;
    line-height: 17px;
    padding: 0 4px;
    background-color: $color-link;
    @include rounded($border-radius);
}

.user-profile:hover .dropdown {
    display: block;
}
    
.user-profile img {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid $color-border;
    @include rounded(50%);
}

.profile-dropdown {
    display: none;
    position: absolute;
}

/* Employees section */

#application {
    width: 100%;
    background-color: #f8f8f8;
    font-size: 0.875em; /* 14px / 16px */ 
    
    #application-header {
        max-width: $width-main;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
    
    #{$a-tags} {
        color: $color-link;
        text-decoration: none;
        border-bottom: 1px solid $color-border;
    }

    #{$a-tags-hover} {
        border-bottom-color: $color-link;
    }
    
    h2 {
        float: left;
        font-family: $font-uppercase;
        color: $color-title;
        font-size: 1.7142857142857142857142857142857em; /* 24px / 14px*/
        text-transform: uppercase;

        #{$a-tags} {
            color: $color-title;
            border-bottom: 0;
        }
    }
}

#breadcrumb {
    float:right;
    
    li {
        display: inline-block;
        
        &::after {
            content: '\00a0/\00a0';
        }
        
        &.last::after {
            content: '';
        }
    }
}

/* Employees navigation */

#application-navigation {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;

    ul {
        text-align: center;
        padding: 0 20px;
        
         li {
            display: inline-block;
            margin-right: 30px;
        }
    }
}

/* Application content */

#content-inner {
    max-width: $width-main;
    margin: 0 auto;
    padding: 40px 20px;
    
}

/* Footer */

footer {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid $color-border;
    font-size: 0.875em; /* 14px / 16px */
    padding: 20px;
}