// Import other files

@import 'reset';
@import 'variables';
@import 'css3-mixins';
@import 'font-awesome';

/* Clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* General */

body {
    font: 400 100% $font-main;
    color: $color-main;
    background-color: #fff;
    padding-top: 81px; /* height header */
}

/* Header */

header[role="banner"] {
    font-size: 0.875em; /* 14px / 16px */
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-border;
    
    #{$a-tags} {
        color: $color-main;
        font-weight: 600;
        text-decoration: none;
    }
    
    #{$a-tags} {
        color: $color-main;
    }
}

#header-wrapper {
    height: 40px;
    max-width: $width-main;
    margin: 0 auto;
    padding: 20px;
}

h1 a {
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    text-indent: -9999em;
    background: url(../img/temp-logo.png) center center no-repeat;
    background-size: 40px;
    @include rounded($border-radius);
}

/* Navigation */

nav {
    float: left;
    
    .main-nav {
        margin: 0 40px;
        height: 40px;
        
        .main-nav-item {
            display: inline-block;
            font-weight: 600;
            position: relative;
            
            .main-nav-item-link {
                display: block;
                height: 40px;
                line-height: 40px;
                padding: 0 15px;
                @include rounded($border-radius);
            }
            
            &:hover .dropdown {
                display: block;
            }
            
            &:hover .main-nav-item-link {
                color: #fff;
                background-color: $color-accent;
            }
        }
    } 
}

/* Sub navigation */

.dropdown {
    padding-top: 15px;
    display: none;
}

.dropdown-list {
    height: auto;
    position: absolute;
    width: 200px;
    margin: 0;
    background-color: #fff;
    border: 1px solid $color-border;
    z-index: 1;
    @include rounded($border-radius);
    
    li {
        display: block;
        border-bottom: 1px solid $color-border;
        width: 100%;
        line-height: normal;
        
        
        a {
            display: block;
            padding: 0 15px;
            height: 40px;
            line-height: 40px;
            width: 100%;
            box-sizing: border-box;
            text-decoration: none;
            
            span {
                padding-right: 10px;
            }
            
            &:hover {
                background-color: #fafafa;
            }
        }
    }
    
}

.dropdown-list:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 7px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
}

.dropdown-list:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 7px 8px;
    border-color: $color-border transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -9px;
    
}

.dropdown-center {
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-center:after {
    left: 93px;
}

.dropdown-center:before {
    left: 93px;
}

.dropdown-right {
    right: 0;
}

.dropdown-right:after {
    left: 174px;
}

.dropdown-right:before {
    left: 174px;
}

/* Profile */

#user-log-in {
    float: right;
    height: 40px;
    position: relative;
    
    &:hover .dropdown {
        display: block;
    }
    
    img {
        vertical-align: middle;
        display: inline-block;
        height: 39px;
        width: 39px;
        border: 1px solid $color-border;
        @include rounded(50%);
    }
}

.user-log-in-username {
    padding: 0 5px 0 10px;
}

.user-log-in-angle {
    font-size: 0.85714285714285714285714285714286em; /* 12px / 14px */
}

.profile-dropdown {
    display: none;
    position: absolute;
}

/* Employees section */

#application-wrapper {
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid $color-border;
    font-size: 0.875em; /* 14px / 16px */ 
    
    #application {
        max-width: $width-main;
        margin: 0 auto;
        
        #{$a-tags} {
            color: $color-accent;
            text-decoration: none;
            border-bottom: 1px solid $color-border;
        }
        
        #{$a-tags-hover} {
            border-bottom-color: $color-accent;
        }
    }
    
    header {
        height: 50px;
        line-height: 50px;
    }
}

h2 {
    font-family: $font-uppercase;
    color: $color-title;
    font-size: 1.7142857142857142857142857142857em; /* 24px / 14px*/
    text-transform: uppercase;
    float:left;
}

#breadcrumb {
    float:right;
    
    li {
        display: inline-block;
        
        &::after {
            content: '\00a0/\00a0';
        }
        
        &.last::after {
            content: '';
        }
    }
}