// Variables

/* Fonts */
$font-main: 'PT Sans', Helvetica, Arial, sans-serif;
$font-uppercase: 'Roboto', Helvetica, Arial, sans-serif;

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

/* Dimensions */

$width-main: 1100px;

/* Colors */

$color-main: #6c6c6c;
$color-accent: #594491;
$color-border: #e5e5e5;

/* Borders */

$border-radius: 3px;

