// Font
$font-main:                 'PT Sans', Helvetica, Arial, sans-serif;
$font-application-title:    'Roboto', Helvetica, Arial, sans-serif;

// Font weights
$regular:   400;
$medium:    500;
$bold:      700;

// TODO: calculate font sizes based on main font size (14px)

// Logo
$width-logo:    40px;
$height-logo:   40px;
$url-logo:      '../img/temp-logo.png';

// Link tags
$a-tags: 'a, a:link, a:visited, a:focus';
$a-tags-hover: 'a:hover, a:active';

// Dimensions
$width-main: 1100px;

// Header
$height-header: 81px;
$height-header-inner: 40px;

// Search
$width-searchbox: 300px;

// Footer
$height-footer: 213px;

// Nav
$height-main-nav: 40px;

// Margin & padding
$padding-main-horizontal: 20px;
$padding-main-vertical: 40px;


// Colors
$color-main:    #6c6c6c;    /* gray */
$color-brand:   #594491;    /* purple */
$color-link:    #547EE4;    /* blue */
$color-border:  #e5e5e5;    /* light gray */
$color-titles:    #353535;    /* dark gray */

$color-background: #f8f8f8; /* light gray */
$color-background-header: #fff; /* white */
$color-background-application-header: #fafafa; /* light gray */

$color-button: #2ebf6c;

$color-fb: #3B5998;

// Borders
$border-radius: 3px;