.button {
    position: relative;
    display: inline-block;
    line-height: 20px;
    padding: 10px 15px;
    border: 0;
    
    &:active {
        top: 1px;
    }
}

.button-action {
    color: $color-main;
    font-weight: $bold;
    background-color: $color-border;
    
    > span {
        margin-right: 10px;
    }
    
    &:hover {
        color: #fff;
        background-color: $color-button;
    }
}