.button {
    position: relative;
    display: inline-block;
    line-height: 20px;
    padding: 10px 15px;
    border: 0;
    @include rounded($border-radius);
    
    > span {
        margin-right: 10px;
    }
    
    &:active {
        top: 1px;
    }
}

.button-action {
    color: $color-main;
    font-weight: $bold;
    background-color: $color-border;
    
    &:hover {
        color: #fff;
        background-color: $color-button;
    }
}

.button-social {
    border: 1px solid $color-border;
    margin-bottom: 30px;
    
    > span {
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        color: $color-fb;
        font-size: em(18, 14);
    }
}