.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    line-height: 20px;
    padding: 7px 10px;
    border: 0;
    @include rounded($border-radius);
    
    > span {
        margin-right: 10px;
    }
    
    &:active {
        top: 1px;
    }
}

.button-action {
    color: #fff;
    font-weight: $bold;
    background-color: $color-link;
    
    &:hover {
        background-color: darken($color-link, 5%);
    }
}

.button-social {
    border: 1px solid $color-border;
    margin-bottom: 30px;
    
    > span {
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        color: $color-fb;
        font-size: em(18, 14);
    }
}