.button {
    position: relative;
    display: inline-block;
    border: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    @include rounded($border-radius);
    
    &:active {
        top: 1px;
    }
}

.button-action {
    color: #fff;
    font-weight: $bold;
    background-color: $color-button;
    
    > span {
        margin-right: 10px;
    }
    
    &:hover {
        background-color: darken($color-button, 1%);
    }
}