.dropdown-wrapper {
    display: none;
    padding-top: 20px;
}

.dropdown-menu {
    box-sizing: border-box;
    background-color: $color-background-header;
    z-index: 100;
    margin: 0;
    position: absolute;
    @include rounded($border-radius);
    @include shadow(0, 0, 5px, rgba(0, 0, 0, 0.13));
    
    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: $color-background-header transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -8px;
    }
    
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: $color-border transparent;
        display: block;
        width: 0;
        z-index: 0;
        top: -9px;
    }
}

.first-row {
    @include rounded($border-radius, $border-radius, 0, 0);
}

.last-row {
    @include rounded(0, 0, $border-radius, $border-radius);
}

.dropdown-list-simple {
    > li {
        display: block;
        border-bottom: 1px solid $color-border;
        width: 100%;
        line-height: normal;
        
        &:last-child {
            border: 0;
        }
        
        > a {
            color: $color-main;
            display: block;
            padding: 10px 15px;
            line-height: 20px;
            width: 100%;
            box-sizing: border-box;
            text-decoration: none;
            font-weight: $bold;

            span {
                padding-right: 10px;
            }

            &:hover {
                background-color: $color-brand;
                color: #fff;
            }
        }
    }
}

// Dropdown main navigation

.dropdown-apps {
    width: 200px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    
    &:before {
        left: 93px;
    }
    
    &:after {
        left: 93px;
    }
}

.dropdown-help {
    width: 200px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    
    &:before {
        left: 93px;
    }
    
    &:after {
        left: 93px;
    }
}

// Dropdown search
.dropdown-search {
    width: $width-searchbox;
    
    &:before {
        left: 12px;
    }
    
    &:after {
        left: 12px;
    }
    
    > ul {
        margin-bottom: 10px;
    }
}

.search-heading {
    font-size: em(13, 14);
    color: $color-titles;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid $color-border;
}

.search-link {
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover {
        color: #fff;
        background-color: $color-brand;
    }
}

.search-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    @include rounded(50%);
}

.search-departments-icon {
    color: #bbb;
    background-color: #fafafa;
    line-height: 32px;
}

.search-users-name, .search-departments-name {
    line-height: 32px;
}

.search-show-all {
    display: block;
    color: $color-titles;
    border-top: 1px solid $color-border;
    line-height: 20px;
    padding: 10px 15px;
    
    > span {
        width: 32px;
        margin-right: 10px;
    }
    
    &:hover {
        border-color: $color-border;
    }
}

.dropdown-profile {
    width: 200px;
    right: 0;
    
    &:before {
        left: 174px;
    }
    
    &:after {
        left: 174px;
    }
}

/*.dropdown-messages {
    width: 400px;
    right: 0;
    
    &:before {
        left: 374px;
    }
    
    &:after {
        left: 374px;
    }
}

.dropdown-message-link {
    display: block;
    padding: 10px;
}

.dropdown-message-avatar {
    float: left;
    margin-right: 10px;

    img {
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        border: 1px solid $color-border;
        @include rounded(50%);
    }
}

.dropdown-message-content {
    font-size: 0.92857142857142857142857142857143em;  13px / 14px 
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/