h1 {
    // See component/logos
}

h2 {
    font-family: $font-application-title;
    color: $color-titles;
    font-size: em(28, 14);
    text-transform: uppercase;

    > a {
        color: $color-titles;
        border-bottom: 0;
    }
}