h1 a {
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    text-indent: -9999em;
    background: url(../img/temp-logo.png) center center no-repeat;
    background-size: 40px;
    @include rounded($border-radius);
}

#application-header h2 {
    float: left;
    font-family: $font-application-title;
    color: $color-title;
    font-size: 1.7142857142857142857142857142857em; /* 24px / 14px*/
    text-transform: uppercase;

    #{$a-tags} {
        color: $color-title;
        border-bottom: 0;
    }
}