div[role="search"] {
    float: left;
    position: relative;
    margin: 20px 0;
}

.form-search-main {
    position: relative;
    
    input {
        box-sizing: border-box;
        width: $width-searchbox;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 38px;
        background-color: #fafafa;

        &:focus {
            outline: 0;
            background-color: #fff;
        }
    }
    
    > button {
        color: $color-main;
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        background: transparent;
        padding: 0 10px;
        cursor: pointer;
    }
}