input[type="submit"] {
    border: 0;
    color: #fff;
    padding: 8px 5px;
    font-weight: $bold;
    background-color: $color-brand;
    cursor: pointer;
    @include rounded($border-radius);
    
    &:hover {
        background-color: darken($color-brand, 5%);
    }
}

