input {
    line-height: 20px;
    color: $color-main;
    border: 1px solid $color-border;
    padding: 7px;
    font-family: $font-main;
    outline: 0;
    @include rounded($border-radius);
    
    &:focus {
        border-color: $color-link;
    }
}