// Filter

.employees-filter-wrapper {
    margin-top: 20px;
}

.filter-header {
    font-size: em(13, 14);
    color: $color-titles;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 20px;
    padding: 10px 20px;
    background-color: $color-background-app-title;
    border: 1px solid $color-border;
    @include rounded($border-radius, $border-radius, 0, 0);
}

.employees-filter {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid $color-border;
    border-top: 0;
    padding: 20px;
    @include rounded(0, 0, $border-radius, $border-radius);
    
    input[type="text"], input[type="submit"], select {
        width: 100%;
        box-sizing: border-box;
    }
}

.employees-filter-item {
    margin-bottom: 20px;
}

// Employees search

.employees-search {
    position: relative;
    float: left;
    width: 300px;
}

.employees-search-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.employees-search-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #fff;
    color: $color-main;
    line-height: 20px;
    padding: 7px;
    margin: 1px;
    cursor: pointer;
}

/* New employees button */

.button-new-employee {
    float: right;
}

/* Employees overview */

.employees-overview {
    width: 100%;
    background-color: #fff;
    border: 1px solid $color-border;
    @include rounded($border-radius);
    
    td {
        line-height: 32px;
    }
}

.employees-list-avatar {
    width: 32px;
    
    > img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
}

.employees-load {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 10px;
    font-weight: $bold;
    border: 0;
    color: #fff;
    text-align: center;
    background-color: $color-main;
    @include rounded($border-radius);
}