// Filter

.employees-filter-wrapper {
    margin-top: 20px;
}

.filter-header {
    font-size: em(13, 14);
    color: #fff;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 20px;
    padding: 10px 20px;
    background-color: $color-titles;
    @include rounded($border-radius, $border-radius, 0, 0);
}

.employees-filter {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid $color-border;
    border-top: 0;
    padding: 20px;
    @include rounded(0, 0, $border-radius, $border-radius);
    
    input[type="text"], input[type="submit"], select {
        width: 100%;
        box-sizing: border-box;
    }
}

.employees-filter-item {
    margin-bottom: 20px;
}

// Employees search

.employees-search {
    position: relative;
}

.employees-search-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.employees-search-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #fff;
    color: $color-main;
    line-height: 20px;
    padding: 7px;
    margin: 1px;
}

/* Employees overview */

.employees-overview {
    width: 100%;
}

.employees-list-header {
    padding: 20px 20px 20px 60px;
    text-transform: uppercase;
    color: $color-titles;
    font-weight: $bold;
    border-bottom: 1px solid $color-border;
}

.employees-list-item {
    border-bottom: 1px solid $color-border;
    
    > a {
        display: block;
        padding: 10px;
        border: 0;
        
        &:hover {
            background-color: #fafafa;
        }
    }
}

.employees-list-avatar {
    display: inline-block;
    width: 40px;
    
    > img {
        width: 40px;
        box-sizing: border-box;
        @include rounded(50%);
    }
}