/* Filter */

.employees-filter {
    width: 22.727272727272727272727272727273%; /* 250px / 1100px; */
    float: left;
}

.employees-main {
    width: 73.636363636363636363636363636364%; /* 810 / 1100px */
    float: right; 
}

.filter-employees {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $color-border;
    background-color: #fff;
    padding: 20px;
    @include rounded($border-radius);
    
    input, select {
        width: 100%;
        box-sizing: border-box;
    }
}

/* Employees overview */

.employees-overview {
    width: 100%;
}

.employees-list-header {
    padding: 20px 20px 20px 60px;
    text-transform: uppercase;
    color: $color-titles;
    font-weight: $bold;
    border-bottom: 1px solid $color-border;
}

.employees-list-item {
    border-bottom: 1px solid $color-border;
    
    > a {
        display: block;
        padding: 10px;
        border: 0;
        
        &:hover {
            background-color: #fafafa;
        }
    }
}

.employees-list-avatar {
    display: inline-block;
    width: 40px;
    
    > img {
        width: 40px;
        box-sizing: border-box;
        @include rounded(50%);
    }
}