.application {
    width: 100%;
    font-size: em(14);
    line-height: 20px;
}

.application-header {
    width: 100%;
    
    > header {
        max-width: $width-main;
        margin: 0 auto;
        padding: 30px;
    }
}

.application-header-title {
    float: left;
}

.breadcrumb-header {
    float: right;
    
    > span {
        margin-right: 10px;
    }
    
    > ul {
        display: inline-block;
    }
}