.application {
    width: 100%;
    font-size: 0.875em; /* 14px / 16px */
    line-height: 20px;
}

.application-header {
    max-width: $width-main;
    margin: 0 auto;
    padding: 20px;
}

.application-header-title {
    float: left;
}

.breadcrumb-header {
    float: right;
    
    > span {
        margin-right: 10px;
    }
    
    > ul {
        display: inline-block;
    }
}