#application {
    width: 100%;
    font-size: 0.875em; /* 14px / 16px */ 
    
    #application-header {
        max-width: $width-main;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
    }
    
    #{$a-tags} {
        color: $color-link;
        text-decoration: none;
        border-bottom: 1px solid $color-border;
    }

    #{$a-tags-hover} {
        border-bottom-color: $color-link;
    }
}