footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height-footer;
    background-color: $color-background-header;
    border-top: 1px solid $color-border;
    text-align: center;
    line-height: 20px;
    font-size: 0.875em; /* 14px / 16px */
    padding: 40px;
}

.footer-extra-info {
    > li {
        display: inline-block;
        padding-bottom: 20px;
    }
    
    > li + li {
        margin-left: 30px;
    }
}