footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height-footer;
    background-color: $color-background-header;
    border-top: 1px solid $color-border;
    text-align: center;
    font-size: 0.875em; /* 14px / 16px */
    line-height: $line-height-footer;
    
    p {
        padding: 0 $padding-main-horizontal;
    }
}