header[role="banner"] {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-header;
    border-bottom: 1px solid $color-border;
    background-color: $color-background-header;
    z-index: 100;
    font-size: 0.875em; /* 14px / 16px */
}

.header-inner {
    height: $height-header-inner;
    max-width: $width-main;
    margin: 0 auto;
    padding: $padding-main-horizontal;
}