header[role="banner"] {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-header;
    border-bottom: 1px solid $color-border;
    background-color: $color-background-header;
    z-index: 100;
    font-size: em(14);
    
    a {
        border-bottom: 0;
    }
}